.chop {
  max-height: 20em;
}

.content-crop {
  object-fit: cover;
  width: 900px;
  height: 350px;
}

@media only screen and (min-width: 60em) {

  .paragraphs {
    column-count: 2;
    column-gap: 2em;
  }

  .chop {
    max-height: 20em;
  }

  .content {
    width: 100%;
  }

  .content-crop {
    object-fit: cover;
    width: 1200px;
    height: 350px;
  }

}

h1 {
  font-family: barteldes-small, serif;
  color: #d2232a;
}

h2 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
}

h3 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
}

h4 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
}

h6 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
}

p {
  font-family: adriane, serif;
}

.foot {
  color: #d2232a;
  font-family: adriane, serif;
}

footer {
  background-color: #fff8f4;
}

.card {
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  min-height: 500px;
}

.card a {
  text-decoration: none;
}

.btn {
  background: none;
  border: none;
  color: #000;
}

.card:hover {
  border-width: 1.5px;
  border-color: #d2232a;
  background: #fff8f4;
}

.card:hover a {
  color: #d2232a;
}

ul {
  list-style-type: none;
}

.btn:hover {
  background: none;
  color: #d2232a;
}
